// *{padding:0; margin:0;
// }

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul{
    list-style: none;
}

img{
    display:block;
    max-width: 100%;
}

p {
    margin:0;
    padding:15px;
}