.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding: 0;
}

img{
    display:block;
}

p {
    margin:0;
    padding:15px;
}

button{
    background: none;
    cursor: pointer;
    color:#827081;
}