.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;


    .cartContainer{
        position:fixed;
        right:5rem;
        color:#827081;

    }
    .fa-cart-shopping{
        font-size: 1.5rem;
    }
}