.singleProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .imageContainer {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image {
            width:200px;
            height:200px;
    }

    .buttonContainer{
        width:4rem;
        display:flex;
        justify-content: space-between;
    }
    .fa-circle-minus:hover{
        color:#ED6A5A;
    }

    .fa-circle-plus:hover{
        color:#5CA4A9;
    }
    }
    